body {
  text-align: center;
}

.content {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translateY(-50%, -50%); 
  -webkit-transform: translate(-50%, -50%);
}

.title {
  font-size: 100px; 
  font-family: Chalkduster;
}

.footer {
  position: absolute; 
  bottom: 10px; 
  left: 50%; 
  transform: translate(-50%); 
  -webkit-transform: translate(-50%);
}